<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/deca/">DECA Home</a></li>
<li><a href="/deca/about">About DECA</a></li>
<li><a href="/deca/blog">Previous Meetings</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:decalisgar@gmail.com">email</a></li>
   <li><a href="https://github.com/charlesyz">github.com/charlesyz</a></li>
   </ul>
  </footer>
  </body>

</html>
